* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
display: flex;
justify-content: center;
background-color: azure;


}

h3 {
    height: 30px;
    background-color: #ccccccae;
}


form .row {
    display: flex;
    width: 100%;
    gap: 15px;
    
}

.title {
    margin-bottom: 2px;
    
}

.inputBox {
    margin: 15px 0;
}

.inputBox input {
   
    padding: 15px 10px;
    border: 1px solid#ccc;
    font-size: 10px;
}

 .inputBox2 {
    margin: 15px 0;
    
 }
 .inputBox2 input{
    padding: 15px 10px;
    border: 1px solid#ccc;
    font-size: 10px;
 }
 .inputBox3 {
    margin: 15px 0;
 }
 .inputBox3 input{
    padding: 15px 10px;
    border: 1px solid#ccc;
    font-size: 10px;
 }

 .inputBox span{
    display: block; 
    margin-bottom: 5px; 
    font-size: 14px; 
}
.inputBox2 span{
    display: block; 
    margin-bottom: 5px; 
    font-size: 14px; 
}
.inputBox3 span{
    display: block;
    margin-bottom: 5px;    
    font-size:
    }

    .inputBox4 span{
        display: block;
        margin-bottom: 5px;    
        font-size:
        }

        .inputBox4 input{
            height: 60px;
            padding: 15px 10px;
            border: 1px solid#ccc;
            font-size: 10px;
         }
         .tarj span {
            display: block;
            margin-bottom: 5px;    
            font-size:
         }
         
         .botones {
            text-align: right;
            
         }

         .submit-btn1 {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #587059;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            position: relative;
        }
        .submit-btn {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #4556ee;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 30px;
            position: relative;
            
            
        }
         

